.drag-over {
  position: relative;
}

.drag-indicator {
  position: absolute;
  top: 0;
  bottom: 20px;
  margin: auto;
  left: -10px;
  width: 4px;
  border-radius: 8px;
  background-color: rgba(126, 29, 251);
  pointer-events: none; /* Prevents the indicator from interfering with drag events */
}
